<h2>To-Do:</h2>

<ul>
  <li>Make servername chart editable</li>
  <li>Make displayname chart</li>
  <li>Possibly a group tags thing using local storage</li>
  <li>Make servername chart progress prettier/better</li>
  <li>Pull up one group's bulk</li>
</ul>
<br><br><br><br>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>Done</b>
      </mat-panel-title>
      <mat-panel-description>
        Click to expand
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul>
      <li>Redo loadtemplate()</li>
      <li>G I T H O O K S
        <ul>
          <li>Set up local JS enviro</li>
          <li>Set up github repo</li>
        </ul></li>
      <li>Change buttons (ie "sys and mem settings" "bulk settings" "templates") to be prettier and also let you know which one you're viewing</li>
      <li>Convert "do this to 50 ids" to "do this to everything of this class"</li>
      <li>Get templates done</li>
      <ul>
        <li>Basic templates</li>
        <li>Template names</li>
        <li>Dynamic amount of templates</li>
      </ul>
      <li>Make a thing to flip group name and dn and private name</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
