<!-- SPDX-License-Identifier: CC0-1.0 -->
<!DOCTYPE html>
<html lang="en">


<body [ngClass]="{'myriad': !this.myriadDisable}">

  <div id=all>

    <h1>Change Server Settings</h1>
    <mat-form-field>
      <mat-label>Token</mat-label>
      <input matInput [(ngModel)]='token' (change)='saveToken()'>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Server ID (or message link)</mat-label>
      <input matInput [(ngModel)]='guildID' (change)='saveGuildID()'>
    </mat-form-field>
    <br><br>


    <div class='buttons'>
      <button [class]="'pageButton'" routerLinkActive="selected" routerLink="solo">System and Member Settings</button>
      <button [class]="'pageButton'" routerLinkActive="selected" routerLink="bulk">Bulk Member Settings</button>
      <button [class]="'pageButton'" routerLinkActive="selected" routerLink="templates">Name Templates</button>
    </div>
    <br>

    <router-outlet></router-outlet>

    <p id='content'></p>
    <p id='error'></p>
    <br><br>
    <p id='info'> </p>
    <footer>*Must be a 5-letter ID</footer>
    <footer>For help please contact Agrimonies Petala 🪁#5342 on discord!</footer>
  </div>

</body>
