<body [ngClass]="{'myriad': !this.myriadDisable}">
<div id="all">
<h1>Pretty Group Maker (DOES NOT WORK)</h1>
<mat-form-field>
     <mat-label>Token</mat-label>
     <input matInput [(ngModel)]='token' (change)='saveToken()'>
</mat-form-field>
<button mat-raised-button id="parse" color="primary" (click)="parse()">Parse!</button>
<br>
<span hidden><mat-checkbox color="primary" [(ngModel)]="advancedToggle" (change)="!advancedToggle ? flattenIndents(1) : ''">Advanced Abilities</mat-checkbox><sup><i class="fa-solid fa-circle-question" matTooltip="This enables advanced abilities such as designated more tiers of categories that will not show on member cards."></i></sup></span>
<br>

     <div class="grid">
         <h2 id="notInUseHeader">Groups that haven't been used yet</h2>
         <h2 id="inUseHeader">Group Organizer</h2>
         <h2 id="editingHeader">Edit a Group</h2>
     </div>
     <div class="grid">
          <div id="notInUse">

               <button mat-raised-button (click)="moveAllToNotInUse()" class="moveButton">Move All</button>

               <div id="notInUseInner">
                    <mat-button-toggle-group
                            multiple
                            name="notInUseList"
                            cdkDropList
                            #notInUseList="cdkDropList"
                            [cdkDropListData]="notInUseArr"
                            [cdkDropListConnectedTo]="[inUseList]"
                            class="list"
                            (cdkDropListDropped)="drop($event)"
                            (change)="notInUseSelected()"
                            [(ngModel)]="notInUse">
                         <mat-button-toggle class="box" *ngFor="let group of notInUseArr" cdkDrag [value]="group">
                              <span class="indent" *ngFor="let _ of [].constructor(group.indents)"></span>
                              {{group.name}} ({{group.id}})
                         </mat-button-toggle>
                    </mat-button-toggle-group>
               </div>
          </div>

          <div id="inUse">
               <button mat-raised-button (click)="moveAllToInUse()" class="moveButton">Move All</button>

               <div id="inUseInner">
                    <mat-button-toggle-group
                            multiple
                            name="inUseList"
                            cdkDropList
                            #inUseList="cdkDropList"
                            [cdkDropListData]="inUseArr"
                            [cdkDropListConnectedTo]="[notInUseList]"
                            class="list"
                            (cdkDropListDropped)="drop($event)"
                            (change)="inUseSelected()"
                            [(ngModel)]="inUse">
                         <mat-button-toggle class="box" *ngFor="let group of inUseArr" cdkDrag [value]="group">
                              <span class="indent" *ngFor="let _ of [].constructor(group.indents)"></span>
                              {{group.name}} ({{group.id}})</mat-button-toggle>
                    </mat-button-toggle-group>
               </div>
          </div>

          <div id="editing">
               <div *ngIf="currentlySelected">
                    <mat-form-field><mat-label>Name</mat-label>
                         <input matInput [(ngModel)]="currentlySelected.name">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" [disabled]="advancedToggle ? false : currentlySelected.indents >= 1"
                            (click)="incrementIndents()">Indent</button>
                    &nbsp;&nbsp;
                    <button mat-raised-button color="primary" [disabled]="currentlySelected.indents === 0"
                            (click)="decrementIndents()">Outdent</button>
               </div>
          </div>
     </div>



</div>
</body>
