<h3>Pluralkit Section</h3>
<ul>
    <li>
        <a routerLink='/serverset'>Server-Specific Setting Changer</a>
        <ul>
            <li><a routerLink='/serverset/solo'>System and Member Settings</a></li>
            <li><a routerLink='/serverset/bulk'>Bulk Member Settings</a></li>
            <li><a routerLink='/serverset/templates'>Servername Templates</a></li>
        </ul>
    </li>
    <li><a routerLink='/groupswitcher'>Group Name/Displayname Switcher</a></li>
</ul>
<h3>System Section</h3>
<ul>
    <li>Nothing yet!</li>
</ul>
<h3>Miscellaneous</h3>
<ul>
    <li><a routerLink='/todo'>To-Do List</a></li>
</ul>
