.normalOverride{
  font-size: 12pt;
  font-weight: normal;
}

#all, button {
  position: relative;
  font-size: 14pt;
}

select, input {
  font-size: 12pt;
}

#content {
  font-size: 18pt;
}

.template {
  width: inherit;
}

#templates {
  width: 80%;
}
