<div id='templates'>
  <h3>Templates go here</h3>
  <label for='template1'>Template 1:</label>
  <!--input type='text' class='template_name' id='template1_name' placeholder='Template 1 Name' onChange='save("template1_name")'-->
  <input type='text' class='template' id='template1' placeholder="Template 1" onChange='save("template1")'>
  <br><br>
  <label for='template2'>Template 2:</label>
  <!--input type='text' class='template_name' id='template2_name' placeholder='Template 2 Name' onChange='save("template2_name")'-->
  <input type='text' class='template' id='template2' placeholder="Template 2" onChange='save("template2")'>
  <br><br>
  <label for='template3'>Template 3:</label>
  <!--input type='text' class='template_name' id='template3_name' placeholder='Template 3 Name' onChange='save("template3_name")'-->
  <input type='text' class='template' id='template3' placeholder="Template 3" onChange='save("template3")'>
  <br>
</div>
