<div id='solo_settings'>
  <h3>System Settings</h3>

  <form #systemForm='ngForm' (ngSubmit)='submitSystem()'>
    <label for='proxying_enabled'>Change whether proxy is enabled: </label>
    <select class='form-control' id='proxying_enabled' name='proxying_enabled'
      [(ngModel)]='systemModel.proxying_enabled'>
      <option value='undefined'>Don't Change Setting</option>
      <option value='true'>Turn On</option>
      <option value='false'>Turn Off</option>
    </select>
    <br>
    <label for='tag_enabled'>Change whether tag is enabled: </label>
    <select class='form-control' id='tag_enabled' name='tag_enabled' [(ngModel)]='systemModel.tag_enabled'>
      <option value='undefined'>Don't Change Setting</option>
      <option value='true'>Turn On</option>
      <option value='false'>Turn Off</option>
    </select>
    <br>
    <label for='tag'>Servertag: </label>
    <input type='text' maxlength='79' id='tag' class='form-control' name='tag' [(ngModel)]='systemModel.tag'
           #servertag='ngModel' pattern='.{0,79}'>
    <div *ngIf='servertag.invalid && (member.dirty || member.touched)' class='alert'>
      <div *ngIf='servertag.errors?.["pattern"]'>
        Servertag cannot be more than 79 characters
      </div>
    </div>
    <label for='tag_toggle'> Clear Servertag: </label>
    <input type='checkbox' id='tag_toggle' class='form-control' name='tag_toggle' [(ngModel)]='tag_toggle'>
    <br>
    <button type='submit' [disabled]='!systemForm.form.valid || ((this.systemModel.proxying_enabled === undefined || this.systemModel.proxying_enabled === "undefined") && (this.systemModel.tag_enabled === undefined || this.systemModel.tag_enabled === "undefined") && (this.systemModel.tag === undefined || this.systemModel.tag === "") && !this.tag_toggle)'>Go!</button>
  </form>

  <br><br>

  <h3>Autoproxy Settings</h3>

  <form #autoProxyForm='ngForm' (ngSubmit)='submitAutoproxy()'>
    <label for='autoproxy_mode'>Change autoproxy mode: </label>
    <select id='autoproxy_mode' class='form-control' name='autoproxy_mode' [(ngModel)]='autoproxyModel.autoproxy_mode'>
      <option value='undefined'>Don't Change Setting</option>
      <option value='off'>Turn Autoproxy Off</option>
      <option value='front'>Turn Autoproxy to Front</option>
      <option value='latch'>Turn Autoproxy to Latch</option>
      <option value='member'>Turn Autoproxy to a Member (set below)</option>
    </select>
    <br>
    <div *ngIf='this.autoproxyModel.autoproxy_mode==="member"'>
      <label for='autoproxy_member' class='apMember'>Autoproxy member* (ignored if autoproxy mode not Member):</label>
      <input type='text' class='form-control' name='autoproxy_member' id='autoproxy_member' maxlength='5'
             [(ngModel)]='autoproxyModel.autoproxy_member' required>
    </div>
    <button type='submit' [disabled]='!autoProxyForm.form.valid || this.autoproxyModel.autoproxy_mode === undefined || this.autoproxyModel.autoproxy_mode === "undefined"'>Go!</button>
  </form>

  <br><br>

  <h3>Member Settings</h3>

  <form #memberForm='ngForm' (ngSubmit)='submitMember()'>
    <label for='member'>Member*: </label>
    <input id='member' class='form-control' name='member' [(ngModel)]='memberID' #member='ngModel' type='text'
      maxlength='5' required minlength='5' pattern='[a-zA-Z]*'>
    <div *ngIf='member.invalid && (member.dirty || member.touched)' class='alert'>
      <div *ngIf='member.errors?.["required"]'>
        Member ID is required.
      </div>
      <div *ngIf='member.errors?.["minlength"]'>
        Member ID must be 5 characters long.
      </div>
      <div *ngIf='member.errors?.["pattern"]'>
        Member ID must be letters only.
      </div>
    </div>
    <br>
    <label for='display_name'>Servername: </label>
    <select id='display_name_select' name='display_name_select' class='form-control' [(ngModel)]='servername_toggle'>
      <option value='null'>Don't Change Setting</option>
      <option value='clear'>Clear Servername</option>
      <option value='set'>Set Servername</option>
    </select>
    <span *ngIf='servername_toggle==="set"'>
      <input type='text' name='display_name' id='display_name' class='form-control'
        [(ngModel)]='memberModel.display_name' #servername='ngModel' pattern='.{0,80}' required>
      <div *ngIf='servername.invalid && (member.dirty || member.touched)' class='alert'>
        <div *ngIf='servername.errors?.["required"]'>
          Servername is required if option "set" is chosen.
        </div>
        <div *ngIf='servername.errors?.["pattern"]'>
          Servername cannot be more than 80 characters
        </div>
      </div>
      <input *ngFor='let template of templates' type='button' class='templateLoadButton'
        value='Load Template {{template[0]}}' (click)='loadTemplate(template[1])'>
    </span>
    <br>
    <label for='avatar_url'>Serveravatar: </label>
    <select id='avatar_url_select' name='avatar_url_select' class='form-control' [(ngModel)]='avatar_url_toggle'>
      <option value='null'>Don't Change Setting</option>
      <option value='clear'>Clear Serveravatar</option>
      <option value='set'>Set Serveravatar</option>
    </select>
    <input class='form-control' type='text' maxlength='256' name='avatar_url' id='avatar_url'
      *ngIf='avatar_url_toggle==="set"' [(ngModel)]='memberModel.avatar_url'>
    <br>
    <button type='submit' [disabled]='!memberForm.form.valid'>Go!</button>
  </form>

  <br><br>
</div>
