<body [ngClass]="{'myriad': !this.myriadDisable}">
    <div id="all">
        <h1>Group Switcher</h1>
        <span>What this does</span>
        <br><br>
        This tool will take all of your groups and switch their name and displayname, then private their name. In order for it to work you must <b>leave the tool open</b> until it says it is done.
        <br><br>
        <span>The tool itself!</span>
        <br><br>
        <mat-form-field>
            <mat-label>Token</mat-label>
            <input matInput [(ngModel)]='token' (change)='saveToken()'>
        </mat-form-field>
        <br>
        <button *ngIf='!started' (click)="go()"><span id='go'>GO</span></button>
        <mat-progress-bar *ngIf='started && numCompleted < 0' mode="indeterminate"></mat-progress-bar>
        <mat-progress-bar *ngIf='started && numCompleted >= 0' mode="determinate" [value]="this.numCompleted/this.totalNum*100"></mat-progress-bar>
        <span *ngIf='started && numCompleted != totalNum'>Loading<span *ngIf='numCompleted % 4 === 3'>.</span><span *ngIf='numCompleted % 4 >= 2'>.</span>
        <span *ngIf='numCompleted % 4 >= 1'>.</span><span *ngIf='numCompleted % 4 >= 0'>.</span> Please keep this page open!</span>
        <h2 *ngIf='numCompleted === totalNum && numCompleted > -1'>Done!</h2>
    </div>
</body>
