<div id='bulk_settings'>
  <h3>Settings For All Members</h3>
  Note that these are only for the server whose id you put above!
  <br>
  <button (click)='viewAll()'>View All Member Serversettings</button>
  <button (click)='clearAll()'>Clear All Member Serversettings</button>
  <table mat-table [dataSource]="data" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let pkMember">{{pkMember.name}}</td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let pkMember">{{pkMember.id}}</td>
    </ng-container>
    <ng-container matColumnDef="displayname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Displayname</th>
      <td mat-cell *matCellDef="let pkMember">{{pkMember.display_name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of members" showFirstLastButtons></mat-paginator>
  <br>
  <mat-progress-bar mode="determinate" [value]="this.value" *ngIf="this.inProgress"></mat-progress-bar>
</div>
