<body>
<h1>Petal's Tools</h1>

<p><a routerLink='/serverset'>Server settings tools</a></p>
<p><a routerLink='/groupswitcher'>Group name/displayname switcher</a></p>
<p><a routerLink='/todo'>To-Do list</a></p>
<p>To review or suggest things message me on Discord (Agrimonies Petala#5342), to get help ask in the <a href="https://discord.com/channels/466707357099884544/912804952953479171">#community-resources-help</a> channel in the <a href="https://discord.gg/PczBt78">PluralKit discord</a>.</p>
</body>
