<h2>Settings</h2>

API URL Override:<sup><i class="fa-solid fa-circle-question" matTooltip="Activating this toggle opts into using the API for PluralKit's Beta Bot instead of the normal (live) one."></i></sup>&nbsp;
<mat-form-field>
    <mat-select [(value)]="apiUrl">
        <mat-option value="live">Live URL (v2)</mat-option>
        <mat-option value="https://api.beta.pluralkit.me/v2" disabled>Beta URL (v2)</mat-option>
        <mat-option value="other">Custom URL</mat-option>
    </mat-select>
</mat-form-field>
<span>&nbsp;&nbsp;&nbsp;</span>
<mat-form-field *ngIf="this.apiUrl === 'other'">
    <mat-label>URL</mat-label>
    <input matInput [(ngModel)]="this.altUrl">
</mat-form-field>
<br><br>
Make Myriad Disappear:<sup><i class="fa-solid fa-circle-question" matTooltip="Checking this box removes Myriad from backgrounds that would otherwise have showed her."></i></sup>&nbsp;<mat-checkbox [(ngModel)]="myriadDisable"></mat-checkbox>
    &nbsp;&nbsp;
    <span id="myriadDisableMessage" *ngIf="myriadDisable">Myriad will not appear in webpage backgrounds!</span>
<br><br><br><button mat-raised-button (click)="save()">Save</button>

<br><br><br><br>
<footer>Please message me on discord (Agrimonies Petala 🪁#5342) or in the <a href="https://discord.com/channels/466707357099884544/912804952953479171">#third-party-discussion</a> channel in the <a href="https://discord.gg/PczBt78">PluralKit discord</a> to suggest new settings!</footer>
